/* Travelia Font Family */
@font-face {
  font-family: 'Travelia';
  font-weight: normal;
  src: url('/fonts/Travelia-Regular.ttf') format('truetype'),
       url('/fonts/Travelia-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Travelia';
  font-weight: 500;
  src: url('/fonts/Travelia-Medium.ttf') format('truetype'),
       url('/fonts/Travelia-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Travelia';
  font-weight: 600;
  src: url('/fonts/Travelia-SemiBold.ttf') format('truetype'),
       url('/fonts/Travelia-SemiBold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Travelia';
  font-weight: bold;
  src: url('/fonts/Travelia-Bold.ttf') format('truetype'),
       url('/fonts/Travelia-Bold.otf') format('opentype');
  font-display: swap;
}

/* Azeret Mono Font Family */
@font-face {
  font-family: 'Azeret Mono';
  font-weight: 300;
  src: url('/fonts/AzeretMono-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  font-weight: normal;
  src: url('/fonts/AzeretMono-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  font-weight: 500;
  src: url('/fonts/AzeretMono-Medium.ttf') format('truetype');
  font-display: swap;
}

/* Doto Font Family */
@font-face {
  font-family: 'Doto';
  font-weight: normal;
  src: url('/fonts/Doto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Doto';
  font-weight: 500;
  src: url('/fonts/Doto-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Doto';
  font-weight: 600;
  src: url('/fonts/Doto-SemiBold.ttf') format('truetype');
  font-display: swap;
}

/* Doto Rounded Font Family */
@font-face {
  font-family: 'Doto Rounded';
  font-weight: normal;
  src: url('/fonts/Doto_Rounded-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Doto Rounded';
  font-weight: 500;
  src: url('/fonts/Doto_Rounded-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Doto Rounded';
  font-weight: 600;
  src: url('/fonts/Doto_Rounded-SemiBold.ttf') format('truetype');
  font-display: swap;
} 