/* Travelia Font Family */
@font-face {
  font-family: 'Travelia';
  src: url('font://Travelia-Regular.ttf') format('truetype'),
       url('font://Travelia-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Travelia';
  src: url('font://Travelia-Medium.ttf') format('truetype'),
       url('font://Travelia-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Travelia';
  src: url('font://Travelia-SemiBold.ttf') format('truetype'),
       url('font://Travelia-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Travelia';
  src: url('font://Travelia-Bold.ttf') format('truetype'),
       url('font://Travelia-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Azeret Mono Font Family */
@font-face {
  font-family: 'Azeret Mono';
  src: url('font://AzeretMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('font://AzeretMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('font://AzeretMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Doto Font Family */
@font-face {
  font-family: 'Doto';
  src: url('font://Doto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Doto';
  src: url('font://Doto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Doto';
  src: url('font://Doto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Doto Rounded Font Family */
@font-face {
  font-family: 'Doto Rounded';
  src: url('font://Doto_Rounded-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Doto Rounded';
  src: url('font://Doto_Rounded-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Doto Rounded';
  src: url('font://Doto_Rounded-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
} 